<div>
    <label for="volume">Volume</label>
    {{number-input number=sale.volume id="volume"}}
</div>
<div>
    <label for="price">Price</label>
    {{number-input number=sale.price id="price"}}
</div>
<div>
    <label for="date">Date</label>
    {{date-input date=sale.date id="date"}}
</div>
<div>
    <label for="product">Product</label>
    {{view Em.Select value=sale.product
    content=products
    optionValuePath="content"
    optionLabelPath="content.name"
    prompt="Select a Product"
    id="product"
    }}
</div>
<div>
    <button class="btn btn-primary" {{bind-attr disabled=saveDisabled}}>Save</button>
    {{link-to "Cancel" "sales"}}
</div>