<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Product</th>
        <th>Volume</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each sale in model}}
        <tr>
            <td>{{format-date sale.date}}</td>
            <td>{{sale.product.name}}</td>
            <td>{{format-number sale.volume}}</td>
            <td>{{format-currency sale.price}}</td>
            <td>{{link-to "Edit" "sales.edit" sale}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>